<header class="border-bottom mb-4">
  <div class="container">
    <div class="text-center my-5">
      <h1 class="fw-bolder">ドラゴンズをもっと楽しく。<br>あなたの観戦体験を一緒にシェアしよう！</h1>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="row">
        <% @event_listings.each do |event_listing| %>
          <div class="col-lg-6">
            <%= render 'shared/event_listing_card', event_listing: event_listing %>
          </div>
        <% end %>
        
      </div>
      <nav aria-label="Pagination">
        <hr class="my-0" />
        <ul class="pagination justify-content-center my-4">
        <%= will_paginate @event_listings %>
        </ul>
      </nav>
    </div>
    <div class="col-lg-4">
      <div class="card mb-4">
      <div class="card-header">検索</div>
        <%= search_form_for @q, url: search_events_path do |f| %>
          <div class="card-body">
            <%= f.search_field :match_or_location_cont,class: "form-control",placeholder:"例：巨人,バンテリンドーム..." %>
            <div class="form-control text-center">
              <%= f.date_field :date_gteq %>
              <span>〜</span>
              <%= f.date_field :date_lteq %>
            </div>
            <%= f.submit "検索", class: "btn btn-primary form-control" %>
          </div>
        <% end %>
      </div>
      <div class="card mb-4">
        <div class="card-header">Categories</div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li><a href="#!">Web Design</a></li>
                <li><a href="#!">HTML</a></li>
                <li><a href="#!">Freebies</a></li>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li><a href="#!">JavaScript</a></li>
                <li><a href="#!">CSS</a></li>
                <li><a href="#!">Tutorials</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header">Side Widget</div>
        <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
      </div>
    </div>
  </div>
</div>
