<% provide(:title,'イベント日程') %>
<div class="container d-flex justify-content-center">
  <div class="row col-md-8 custyle">
    <table class="table table-striped custab">
      <thead>
        <tr class="text-center">
          <th>日付</th>
          <th>開始時間</th>
          <th>チーム</th>
          <th>場所</th>
          <th></th>
        </tr>
      </thead>
      <% @events.each do |event| %>
        <tr class="text-center">
          <td><%= event.date.strftime("%m/%d") %></td>
          <td><%= event.start_time.strftime("%H:%M") %></td>
          <td><%= event.match %></td>
          <td><%= event.location %></td>
          <td><%= link_to "募集", event, class: "btn btn-primary btn-xs" %></td>
        </tr>
      <% end %>
    </table>
    <ul class="pagination justify-content-center my-4">
      <%= will_paginate @events %>
    </ul>
    <div class="card my-4">
      <div class="card-header">検索</div>
      <%= search_form_for @q, url: filtered_index_events_path  do |f| %>
        <div class="card-body">
          <%= f.search_field :match_or_location_cont, class: "form-control", placeholder: "例：巨人,バンテリンドーム..." %>
          <div class="form-control">
            <%= f.label :date_gteq, "観戦日" %>
            <%= f.date_field :date_gteq %>
            <span>〜</span>
            <%= f.date_field :date_lteq %>
          </div>
          <div class="form-control">
            <%= f.label :match_eq, "対戦チーム" %>
            <%= f.select :match_eq, @matches, :include_blank => '指定なし' %>
          </div>
          <div class="form-control">
            <%= f.label :location_eq, "野球場" %>
            <%= f.select :location_eq, @locations, :include_blank => '指定なし' %>
          </div>
          <%= f.submit "検索", class: "btn btn-primary form-control" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
