<div class="container d-flex justify-content-center">
    <div class="row col-md-8 custyle ">
    <table class="table table-striped custab">
    <thead>
        <tr class="text-center">
            <th>日付</th>
            <th>開始時間</th>
            <th>チーム</th>
            <th>場所</th> 
            <th></th>
        </tr>
    </thead>
        <% @events.each do |event| %>
        <tr class="text-center">
            <td><%= event.date.strftime("%m/%d") %></td>
            <td><%= event.start_time.strftime("%H:%M")%></td>
            <td><%= event.match %></td>
            <td><%= event.location %></td>
            <td>
            <%= link_to "募集", event,class:"btn btn-primary btn-xs" %>
            </td>
        </tr>
        <% end %>
    </table>
    </div>
</div>
